:root {
  --main-font: "Poppins", sans-serif;
  --h-weight: 500;
  --p-weight: 400;
  --bg-color: #050001;
  --text-color: #ffffff;
  --card-text-bg: rgba(22, 22, 22, 0.3);
  --padding-outer: 0px;
  --section-padding: 16px;
  --h-font-size: 26px;
  --h-line-height: 1.2;
  --p-font-size: 14px;
  --p-line-height: 1.6;
  --heading-text-gap: 32px;
  --button-gap: 40px;
  --btn-font-size: 14px;
  --p-w: 336px;
  --card-w: 343px;
  --card-h: 360px;
  --card-pt: 40px;
  --card-gap: 20px;
}

@media (min-width: 768px) {
  :root {
    --padding-outer: 36px;
    --section-padding: 44px;
    --h-font-size: 36px;
    --p-font-size: 16px;
    --button-gap: 48px;
    --btn-font-size: 16px;
    --p-w: 550px;
    --card-w: 610px;
    --card-h: 645px;
    --card-pt: 60px;
    --card-gap: 40px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: 100%;
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

.outer {
  padding: var(--padding-outer);
}

.service-section {
  padding: var(--section-padding) var(--section-padding);
}

h2 {
  font-size: var(--h-font-size);
  line-height: var(--h-line-height);
  font-weight: var(--h-weight);
}

p {
  margin-top: var(--heading-text-gap);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  font-weight: var(--p-weight);
  color: rgba(255, 255, 255, 0.8);
  max-width: var(--p-w);
  width: 100%;
}

.button-group {
  margin-top: 40px;
  display: flex;
  gap: var(--button-gap);
  font-size: var(--btn-font-size);
  font-weight: 600;
  line-height: 1.5;
}

.button-group button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 4px;
  font-size: inherit;
}

.card-container {
  padding-top: var(--card-pt);
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.card {
  position: relative;
  width: var(--card-w);
  height: var(--card-h);
  border-radius: 6.862px;
  overflow: hidden;
  background-color: #6c6c6c;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(177.72deg, rgba(5, 0, 1, 0.04) 0%, rgba(5, 0, 1, 0.4) 100%);
  pointer-events: none;
}

.card .card-content {
  background-color: var(--card-text-bg);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card .card-content .card-text h3 {
  font-size: var(--h-font-size);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 11.4px;
}

.card .card-content .card-text p {
  margin-top: 0;
  font-size: var(--p-font-size);
  line-height: 1.7;
  font-weight: 400;
  color: white;
  max-width: 100%;
}

.card .card-content .arrow {
  background: #f1f1f1;
  color: #050001;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 2.287px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 0;
}

@media (min-width: 768px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
  }
  .card .card-content {
    padding: 40px;
  }
  .card .card-content .card-text {
    max-width: 370px;
  }
  .card .card-content .arrow {
    width: 36px;
    height: 36px;
    border-radius: 4px;
  }
}

@media (min-width: 1200px) {
  :root {
    --h-font-size: 56px;
    --p-font-size: 18px;
  }

  .service-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 10%;
    height: 100vh;
    overflow: hidden;
  }

  .service-info {
    flex: 1;
    max-width: 550px;
  }

  .card-container {
    width: 602px;
    flex: none;
    height: 671px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
  }
  .card-container::-webkit-scrollbar {
    display: none;
  }

  .card {
    width: 602px;
    height: 645px;
    flex: none;
    scroll-snap-align: start;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */